{% set moduleName = 'u4m-ctarow' %}
{% set moduleExtraName = '{{ module.module_settings.section_type }}' %}
{% include "../partials/u4-module-includes.html" %}
<div class="page-center">
  <div class="ctarow_inr {{ module.module_settings.section_type }}">
    <div class="cta_cn_wrap">
      <div class="intro_wrapp">
        {% if module.intro_content.select_image.src %} 
        <div class="img">
          <img src="{{ module.intro_content.select_image.src }}" alt="{{ module.intro_content.select_image.alt }}"  style="width:{{ module.intro_content.select_image.width }}px">
        </div>
        {% endif %}
        {{ macros.introGroup(module.intro_content) }}
      </div>
    </div> 

  </div>
</div>

</section>

 














