@import "../../css/_module-imports";
.u4m-ctarow {
  &.inner_cnt {
    @include center;
    border-radius: $borderRadius;
    padding-top: 50rem;
    padding-bottom: 50rem;
    overflow: hidden;
    width: calc(100% - 40px);
    .page-center {
      padding: 0;
      .intro_content {
        width: 72%;
      }
    }
  }
  .cta_cn_wrap {
    .intro_wrapp {
      .img {
        text-align: center;
        img {
          display: block;
          margin: 0 auto 36px;
        }
      }
      .intro_content {
        margin-bottom: 0;
        width: 80%;
        max-width: 100%;
        @include tabletvert {
          width: 100% !important;
        }
      }
      .intro_desc {
        font-weight: normal;
      }
    }
  }
}
