@import "../../css/_module-imports";

.header-wrapper {
  min-height: 158px;
  .header-sticky {
    width: 100%;
    z-index: 9;
    background: $White;
  }
  .header-top {
    background: $sadlier_blue;
    padding: 11px 50px;
    .row {
      display: flex;
      justify-content: space-between;
    }
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;
      gap: 30px;
      li {
        margin: 0;
        a {
          color: $White;
          text-transform: uppercase;
          padding: 0;
          text-overflow: unset;
          cursor: pointer;
          max-width: unset;
          overflow: visible;
        }
      }
      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
    }
  }
  .header-main {
    .nav_wrapper {
      padding-left: 20px;
      display: flex;
      align-items: center;
      .hdr-btn {
        padding-left: 30px;
        a.hs-button {
          padding: 12px 24px;
          background: transparent;
          border-color: $dark_text;
          color: $dark_text;
        }
      }
    }
    background: $White;
    padding: 30px 50px;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.2s ease;
    width: 100%;
    z-index: 999;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .header-spacer {
    width: 100%;
  }
  .nav {
    .mega-menu {
      > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 30px;
        li {
          margin: 0;
        }
        > li {
          > a {
            color: $dark_text;
            display: inline-block;
            transition: all 0.3s;
            &:hover {
              color: $sadlier_blue;
            }
          }
        }
        .mega_menu_wrapper {
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
          }
          ul.level2 {
            display: flex;
            justify-content: space-between;
            gap: 100px;
            > li {
              flex: auto;
              h6 {
                font-size: 16px;
                color: $sadlier_blue;
                padding: 0 0 6px;
                border-bottom: 3px solid grey;
                margin-bottom: 18px;
                text-transform: uppercase;
              }
            }
            > li.childItem {
              flex: auto;
              padding-top: 20px;
            }
          }
          ul.level3 {
            > li {
              margin-bottom: 14px;
              width: 50%;
              a {
                color: $dark_text;
                display: inline-block;
              }
            }
          }
          .media_section {
            img {
              width: 211px;
              margin-bottom: 10px;
            }
            p {
              margin: 0;
              text-align: center;
              font-weight: 400;
            }
          }
        }
        .mega_menu_wrapper.full_width {
          ul.level2 {
            li.childItem {
              width: 72%;
            }
          }
        }
      }
      .mega_menu_wrapper.full_width {
        ul.level2 {
          width: 100%;
        }
      }
    }
    .full_width {
      ul.level2 {
        ul.level3 {
          display: flex;
          flex-wrap: wrap;
        }
        li.media_section {
          width: 28%;
        }
      }
    }
  }
}
.darkHeader {
  .header-wrapper {
    .header-main {
      position: fixed;
      top: 0;
    }
  }
}
@include tabletMinlarge {
  .header-wrapper {
    .nav {
      .mega-menu {
        > ul {
          .mega_menu_wrapper {
            background: $light_background2;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            z-index: 99;
            transition: all 0.3s ease;
            opacity: 0;
            visibility: hidden;
            padding: 20px 20px;
            &:before {
              content: "";
              display: block;
              position: absolute;
              left: 0;
              top: -39px;
              width: 100%;
              height: 40px;
            }
          }
          li {
            &:hover {
              > .mega_menu_wrapper {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}
@include tabbreakpoint(1200px, 1450px) {
  .header-wrapper {
    .header-main {
      .nav_wrapper {
        .hdr-btn {
          padding-left: 10px;
          a.hs-button {
            font-size: 14px;
            white-space: nowrap;
            padding: 8px 14px;
          }
        }
      }
    }
    .nav {
      .mega-menu {
        > ul {
          gap: 15px;
          > li {
            > a {
              font-size: 14px;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .header-top {
      ul {
        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@include midlaptop {
  .header-wrapper {
    .header-main {
      .nav_wrapper {
        position: fixed;
        left: 0;
        width: 350px;
        top: 0;
        height: 100%;
        background: $White;
        z-index: 9;
        transition: all 0.3s ease;
        transform: translateX(-100%);
        display: block;
        padding: 20px;
        overflow: auto;
        .hdr-btn {
          padding-left: 0;
        }
        .nav {
          margin-bottom: 20px;
        }
      }
    }
    .menu-trigger {
      span {
        &:nth-child(2) {
          margin: 8px 0;
        }
        width: 34px;
        display: block;
        background: $dark_text;
        height: 2px;
      }
      cursor: pointer;
    }
    min-height: 136px;
    .nav {
      .mega-menu {
        > ul {
          display: block;
          li {
            .mega_menu_wrapper {
              .page-center {
                padding: 0;
              }
              display: none;
              padding: 0 15px 20px;
            }
          }
          .mega_menu_wrapper {
            ul.level2 {
              display: block;
              > li.childItem {
                padding: 15px 0 20px;
                &:not(:first-child) {
                  padding-top: 0;
                }
              }
            }
          }
          > li {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid $light_background;
            > a {
              display: block;
              position: relative;
              z-index: 9;
            }
          }
          > li.menuItem.has-submenu {
            position: relative;
            &:after {
              content: "+";
              position: absolute;
              right: 8px;
              top: -4px;
              font-size: 20px;
            }
          }
          > li.menuItem.has-submenu.active-child {
            &:after {
              content: "-";
              top: -3px;
            }
          }
          .mega_menu_wrapper.full_width {
            ul.level2 {
              li.childItem {
                width: 100%;
              }
            }
          }
        }
      }
      .full_width {
        ul.level2 {
          li.media_section {
            width: 100%;
          }
        }
      }
    }
    .overlay {
      position: fixed;
      left: 0;
      width: 100%;
      height: 100%;
      background: $dark_text;
      z-index: 8;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
    }
    .top-menu {
      padding-left: 20px;
    }
    .header-top {
      ul {
        gap: 18px;
        li {
          a {
            font-size: 14px;
          }
        }
      }
      .row {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
      }
    }
  }
  .menu-open {
    .header-wrapper {
      .header-main {
        .nav_wrapper {
          transform: unset;
        }
      }
      .overlay {
        opacity: 0.5;
        visibility: visible;
      }
    }
  }
}
@include tabletvert {
  .header-wrapper {
    .header-top {
      .row {
        gap: 15px;
      }
      ul {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0;
        li {
          a {
            width: auto !important;
            display: inline-block !important;
          }
          width: auto !important;
          display: inline-block !important;
        }
      }
      padding: 11px 20px;
    }
    .header-main {
      padding: 31px 20px;
      .logo {
        padding-right: 20px;
      }
    }
    .nav {
      .mega-menu {
        ul {
          .mega_menu_wrapper {
            ul.level3 {
              li {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@include phone {
  .header-wrapper {
    .header-main {
      .nav_wrapper {
        width: 250px;
        padding: 20px 10px;
      }
    }
    .nav {
      .mega-menu {
        > ul {
          li {
            .mega_menu_wrapper {
              padding: 0 10px 20px;
            }
          }
        }
      }
    }
  }
}
