@import "../../css/_module-imports";


.u4m-logo-trust-marks {
  .intro_content {
    margin-bottom: 23px;
  }

  .slider_wrpp {
    .items {
      padding: 0 35.5px;

      @include tabletvert {
        padding: 0;
      }
    }

    .slick-track {
      margin: 0 -35.5px;

      .top_img {
        width: 161px;
        height: 90px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        object-fit: cover;
        height: inherit !important;
        margin: 0 auto;

        @include tabletvert {
          margin: 0 auto;
        }
      }

      @include tabletvert {
        margin: 0;
      }
    }

    .intro_desc {
      text-align: center;
    }

  }

  .bottom_button {
    margin-top: 37px;
  }
}