@import "../../css/_module-imports";


.u4m-logo-trust-marks {
  .intro_content {
    margin-bottom: 23px;
  }

  .slider_wrpp {
    .items {
      padding: 0 35.5px;

      @include tabletvert {
        padding: 0;
      }
    }

    .slick-track {

      .top_img {
        margin-bottom: 10px;
      }

      img {
        max-width: 161px !important;
        max-height: 90px;
        -o-object-fit: cover;
        object-fit: cover;
        height: inherit !important;
        margin: 0 auto;

        @include tabletvert {
          margin: 0 auto;
        }
      }

      @include tabletvert {
        margin: 0;
      }
    }

    .intro_desc {
      text-align: center;
    }

  }

  .bottom_button {
    margin-top: 37px;
  }
}