@import "../../css/_module-imports";


.u4m-logo-trust-marks {
  .intro_content {
    margin-bottom: 23px;
  }

  .slider_wrpp {
    .items {
      padding: 0 35.5px;
    }

    .slick-track {
      margin: 0 35.5px;
    }

    .intro_desc {
      text-align: center;
    }
  }

  .bottom_button {
    margin-top: 37px;
  }
}