{% set moduleName = 'u4m-logo-trust-marks' %}
{% include "../partials/u4-module-includes.html" %}



<div class="page-center  {{ module.module_settings.theme }}">


  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>

  <div class="slider_wrpp">
    <div class="inner_wrpp slick_slider">
      {% for item in module.items_group %}
      <div class="items">
        <div class="top_img">
          {% if item.image_field.src %}
          {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
          {% if item.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% elif item.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
          <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </div>
        <div class="intro_desc {{ item.content_style }}">
          {{ item.content }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% if module.include_button %}
  <div class="bottom_button">
    {{macros.buttonGroup(module.button_group)}}
  </div>
  {% endif %}


</div>





</section>

{% require_js %}
<script>
  $(document).ready(function () {
    $('.{{name}} .slick_slider').slick({
      slidesToShow: {{ module.module_settings.slider_options.slides_per_view|default(1) }}, // Default to 1 if not defined
      slidesToScroll: {{ module.module_settings.slider_options.slides_per_scroll|default(1) }}, // Default to 1 if not defined
      autoplay: true, // Enable autoplay
      autoplaySpeed: 2000, // Time interval between slides in ms
      infinite: true, // Enable infinite looping to restart the carousel
      arrows: false, // Hide navigation arrows
      dots: false, // Enable dots navigation
      responsive: [ // Correct responsive settings
        {
          breakpoint: 1024, // For screens <= 1024px
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
          breakpoint: 767, // For screens <= 767px
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        }
      ]
    });
  });
</script>
{% end_require_js %}


