@import "../../css/module-imports";
.u4mAnchorNavWrap {
  min-height: 90px;
}
.u4m-anchor-nav {
  padding-top: 37px;
  padding-bottom: 16px;
  z-index: 100;
  position: relative;
  @include navbreak {
    top: 0 !important;
    position: relative !important;
  }
  &.sticky {
    background-color: $black;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
  }
  &.fixed {
    position: fixed;
    top: 100px;
    width: 100%;
  }

  .anchor-nav-inner {
    position: relative;
    z-index: 9;
    .theme1_color {
      .selected {
        .single-anchor::after {
          background-color: $sadlier_red;
        }
      }
      .single-anchor {
        &:hover::after {
          background-color: $sadlier_red;
        }
      }
    }
    .theme2_color {
      .selected {
        .single-anchor::after {
          background-color: $sadlier_blue;
        }
      }
      .single-anchor {
        &:hover::after {
          background-color: $sadlier_blue;
        }
      }
    }
    .theme3_color {
      .selected {
        .single-anchor::after {
          background-color: $religion_green;
        }
      }
      .single-anchor {
        &:hover::after {
          background-color: $religion_green;
        }
      }
    }
    .anchor-nav {
      display: flex;
      justify-content: center;
      column-gap: 72px;
      row-gap: 20px;
      flex-wrap: wrap;
      @include midlaptop {
        column-gap: 20px;
      }
      li {
        margin: 0;
        letter-spacing: normal;
        list-style: none;
      }
      .single-anchor {
        font-family: "Lexend";
        font-style: normal;
        font-weight: 700;
        font-size: $baseFontSize;
        line-height: $baseLineHeight;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $Gray2;
        position: relative;
        text-align: center;
        &:after {
          background-color: transparent;
          height: 4px;
          content: "";
          width: 100%;
          display: inline-block;
          position: absolute;
          bottom: -13px;
          left: 0;
        }
        &.active-anchor {
          color: $White;
        }
        &:hover {
          color: $White;
        }
      }
    }
    .nav-border {
      height: 4px;
      background: $White;
      opacity: 0.15;
      margin: 0;
      margin-top: 9px;
      border: none;
    }
  }
}
