@import "../../css/_module-imports";

$background-color: rgba($dark_background, 0.1);
/* search */
/* stylelint-disable declaration-no-important */
/* stylelint-enable declaration-no-important */
/* clears the 'X' from Internet Explorer */
/* clears the 'X' from Chrome */
.hs-editor-hide-until-active {
  display: none;
}
.inpage-editor-active-field {
  .hs-editor-hide-until-active {
    display: block;
  }
  .hs-search-field__suggestions {
    position: absolute;
    width: 100%;
    border: none;
    background-color: $white;
    box-shadow: 1px 10px 16px -9px rgba(122, 122, 122, 0.75);
    top: 100%;
    margin-top: 5px;
    z-index: 3;
    border-radius: 10px;
  }
}
.hs-search-field {
  position: relative;
}
.hs-search-field__input {
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  &:focus {
    outline-style: solid;
  }
}
.hs-search-field__bar {
  button {
    svg {
      height: 10px;
    }
  }
}
.hs-search-field__suggestions {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: block;
    padding: 0;
    margin: 0;
  }
  li.results-for {
    font-weight: bold;
    display: block;
    padding: 5px 10px;
    line-height: 1.7;
  }
  a {
    display: block;
    padding: 5px 10px;
    line-height: 1.7;
    color: inherit;
    &:hover {
      background-color: $background-color;
      outline: none;
    }
    &:focus {
      background-color: $background-color;
      outline: none;
    }
  }
}
.hs-search-field--open {
  .hs-search-field__suggestions {
    position: absolute;
    width: 100%;
    border: none;
    background-color: $white;
    box-shadow: 1px 10px 16px -9px rgba(122, 122, 122, 0.75);
    top: 100%;
    margin-top: 5px;
    z-index: 4;
    border-radius: 10px;
    padding: 10px;
  }
}
.hs-search-field__suggestions-container {
  position: relative;
  flex-basis: 100%;
  color: $tone;
}
.hs-search-field__form {
  display: flex;
  flex-wrap: wrap;
}
.hs-search-field__label {
  flex-basis: 100%;
}
.hs-search-field__bar--button-beneath {
  .hs-search-field__input {
    flex-basis: 100%;
  }
  .hs-search-field__button {
    margin-top: 0.725rem;
    margin-right: 0.725rem;
  }
  .hs-search-field__suggestions-container {
    min-width: 75%;
    flex-basis: auto;
    flex-grow: 1;
  }
}
.hs-search-field__bar--button-align-right {
  .hs-search-field__button {
    margin-right: 0;
    margin-left: 0.725rem;
    order: 2;
  }
}
.hs-search-field__button--labelled {
  .hs_cos_wrapper_type_icon {
    margin-right: 0.5rem;
  }
}
.show-for-sr {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}
input[type="search"] {
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}
input[type="search"] {
  &::-webkit-search-decoration {
    display: none;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
  &::-webkit-search-results-button {
    display: none;
  }
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.hs-blog-listing .header-wrapper {
  display: none;
}

.blogListing {
  background-color: $light_background;
  padding: 0;
  .page-center {
    max-width: 1184px;
  }
  .topttl {
    padding: 85px 0 65px;
    text-align: center;
    h1 {
      margin: 0;
    }
  }

  .featCardsOuter {
    .featCards {
      > * {
        @include tabletvertmin {
          width: 50%;
        }
        width: 100%;
      }
      background-color: $white;
      border-radius: $borderRadius;
      overflow: hidden;
      .featleft {
        .cardImg {
          @include tabletvertmin {
            padding-bottom: 466px;
            height: 100%;
          }
          padding-bottom: 56.66%;
          position: relative;
          a {
            position: absolute;
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
          }
        }
      }
      .featright {
        .cardCont {
          padding: 30px 30px 50px;
          @include tabletvertmin {
            padding: 96px 50px;
          }
          .topicTagwrap {
            @include eyebrow;
            margin-bottom: 10px;
            a {
              color: inherit;
            }
          }
          .restitle {
            margin-bottom: 15px;
            a {
              color: inherit;
            }
          }
          .desc {
            margin-bottom: 30px;
            font-weight: 400;
            line-height: 1.625;
            letter-spacing: 0.03em;
            a {
              line-height: 16px;
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
  }

  .filterWrap {
    padding: 50px 0;
    .flex_row {
      gap: 20px;
      @include tabletvertmin {
        gap: 50px;
      }
      .col {
        padding: 0;
        width: 100%;
        @include tabletvertmin {
          width: calc((100% - 50px) / 2);
        }
        .colTtl {
          @include eyebrow;
          padding-bottom: 5px;
        }
        .srchSection {
          form {
            margin: 0;
            padding: 0;
            background: none;
            display: unset;
            .hs-search-field__input {
              padding: 10px 15px;
              background: $White;
              border: 2px solid $tone15;
              border-radius: 5px;
              font-weight: 400;
              font-size: 18px;
              line-height: 27px;
              letter-spacing: 0.03em;
              outline: none;
              &::placeholder {
                color: $tone30;
              }
            }
          }
        }
        &.blogTags {
          select {
            padding: 10px 15px;
            background: $White;
            border: 2px solid $tone15;
            border-radius: 5px;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.03em;
            outline: none;
            appearance: none;
            color: $tone50;
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: calc(100% - 16px) center;
            padding-right: 34px;
          }
        }
      }
    }
  }

  .featCardsListWrap {
    .blogFeedList {
      padding-bottom: 69px;
      .CardItems {
        gap: 50px;
        .CardItem {
          width: 100%;
          @include tabletvertmin {
            width: calc((100% - 50px) / 2);
          }
          @include tabletmidmin {
            width: calc((100% - 100px) / 3);
          }

          .CardItemIn {
            background: $White;
            border-radius: $borderRadius;
            overflow: hidden;
            .bIItmimg {
              padding-bottom: 56.66%;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              position: relative;
              @include tabletmidmin {
                padding-bottom: 185px;
              }
              .absLink {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            .cardCont {
              padding: 30px 30px 50px;
              .topicTagwrap {
                @include eyebrow;
                margin-bottom: 15px;
                a {
                  color: inherit;
                }
              }
              .restitle {
                a {
                  color: inherit;
                }
              }
            }
          }
        }
      }
    }
    ul.pagination {
      margin: 0;
      list-style: none;
      padding: 0 0 96px;
      gap: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin: 0;
        letter-spacing: 0;
        a {
          &:not(.elipses) {
            height: 50px;
            width: 50px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            color: $tone;
            font-weight: 700;
            flex-wrap: wrap;
          }
          &.disbled {
            pointer-events: none;
          }
          &.elipses {
            display: flex;
            color: $blackColor;
          }

          &.bloglr {
            background-color: $Gray2;
          }
          &.blogPgLink {
            border: 2px solid $tone;
          }
          &.blogPgLink:hover {
            background-color: $tone;
            color: $White;
          }
          &.blogPgactive {
            background-color: $tone;
            color: $White;
          }
        }
      }
    }
  }
}
