@import "../../css/_module-imports";

.u4m-animated-stats {
  .item_inrCnt.flex_row {
    .items {
      width: 33.33%;
      padding: 0 10px;

      .img {
        text-align: center;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 0;

        img {
          object-fit: cover;
        }
      }

      .custom {
        text-align: center;

        span {
          font-size: 50px;
          line-height: 1;
        }
      }

      .icon {
        svg {
          width: 50px;
          height: 50px;
        }

        text-align: center;
      }

      .start_cnt {
        display: flex;
        align-items: center;
        justify-content: center;

        &.large_font {
          @include largeFont;
          line-height: 1;
        }

        &.h1 {
          @include h1;
        }

        &.h2 {
          @include h2;
        }

        &.h3 {
          @include h3;
        }

        &.h4 {
          @include h4;
        }

        &.h5 {
          @include h5;
        }

        &.h6 {
          @include h6;
        }
      }

      @include tabletvert {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }

    margin: 0 -10px;

    @include tabletvert {
      margin: 0px;
      gap: 50px;
    }

    p {
      text-align: center;
      max-width: 232px;
      margin: 0 auto;
    }
  }
}