{% set moduleName = 'u4m-animated-stats' %}
{% include "../partials/u4-module-includes.html" %}



<div class="page-center  {{ module.module_settings.theme }}">


  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>

  <div class="btm_Cnt">
    <div class="item_inrCnt flex_row">
      {% for item in module.statistic_group %}
      <div class="items">
        <div class="top_img {{ item.top_icon_group.select_color }}">
          {% if  item.top_icon_group.select_icon == 'image'%}
          <div class="img">
            {% if item.top_icon_group.image_field.src %}
            {% set sizeAttrs = 'width="{{ item.top_icon_group.image_field.width|escape_attr }}" height="{{ item.top_icon_group.image_field.height|escape_attr }}"' %}
            {% if item.top_icon_group.image_field.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ item.top_icon_group.image_field.width|escape_attr }}" height="{{ item.top_icon_group.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% elif item.top_icon_group.image_field.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.top_icon_group.image_field.max_width|escape_attr }}" height="{{ item.top_icon_group.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = item.top_icon_group.image_field.loading != 'disabled' ? 'loading="{{ item.top_icon_group.image_field.loading|escape_attr }}"' : '' %}
            <img src="{{ item.top_icon_group.image_field.src|escape_url }}" alt="{{ item.top_icon_group.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </div>
          {% elif  item.top_icon_group.select_icon == 'material_icon'%}
          <div class="custom">
            {{ item.top_icon_group.custom_icon }}
          </div>
          {% elif  item.top_icon_group.select_icon == 'icon'%}
          <div class="icon">
            {% icon
		name="{{ item.top_icon_group.icon.name }}"
		style="{{ item.top_icon_group.icon.type }}"
		unicode="{{ item.top_icon_group.icon.unicode }}"
		icon_set="{{ item.top_icon_group.icon.icon_set }}"
	%}
          </div>
          {% endif %}
        </div>
        <div class="btm_cnt">
          <div class="start_cnt 	{{ item.heading_size }}">
            <span class="number {% unless item.disable_animation %}count{% endunless %}">{{ item.numeric_stat }}</span>
            {% if item.show_stat_unit %}<span class="unit">{{ item.stat_unit }}</span>{% endif %}
          </div>
          <div class="intro_desc 	{{ item.content_style }}">
            {{ item.content }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


</div>




</section>











{% require_js %}
<script>
  {
    const onScroll = (entries, obs) => {
      entries.forEach(entry => {
        if (!entry.isIntersecting) entry.target.classList.remove('is-in-viewport');
        else {
          entry.target.classList.add('is-in-viewport');

          $('.count').each(function () {
            $(this).prop('Counter',0).animate({
              Counter: $(this).text()
            }, {
              duration: 4000,
              easing: 'swing',
              step: function (now) {
                // $(this).text(Math.ceil(now));
                $(this).text(Math.ceil(now).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
                $(this).removeClass( "count" )
              }
            });
          });

        }
      });
    };

    const options = {
      threshold: .75 // 50% of element in view
    }

    const observer = new IntersectionObserver(onScroll, options);
    document.querySelectorAll("section.{{moduleName}}.{{name}}").forEach(section => observer.observe(section));

                              }


</script>
{% end_require_js %}


