{% set moduleName = 'u4m-subscribe' %}
{% include "../partials/u4-module-includes.html" %}
<div class="page-center">


  <div class="subscribe_inr">
    <div class="sb_left">
      <div class="intro_wrapp">
        {{ macros.introGroup(module.intro_content) }}
      </div>
    </div>

    <div class="sb_right">

      {% if module.right_content.select_image.src %}
      <div class="sb_img">
        <img src="{{ module.right_content.select_image.src }}" alt="{{ module.right_content.select_image.alt }}"  > 
      </div>
      {% endif %}
      {% if  module.right_content.select_form.form_id %}
      <div class="sb_form">
        {% form
          form_to_use="{{ module.right_content.select_form.form_id }}"
          response_response_type="{{ module.right_content.select_form.response_type }}"
          response_message="{{ module.right_content.select_form.message }}"
          response_redirect_id="{{ module.right_content.select_form.redirect_id }}"
          response_redirect_url="{{module.right_content.select_form.redirect_url}}"
          gotowebinar_webinar_key="{{ module.right_content.select_form.gotowebinar_webinar_key }}"
        %}
      </div>
      {% endif %}
    </div>

  </div>
</div>





</section>
















