@import "../../css/_module-imports";
.u4m-subscribe.dnd_padd {
  @include center;
  border-radius: $borderRadius;
  padding: 70rem 100rem;
  margin-top: 40px;
  position: relative;
  width: calc(100% - 40px);
  @include tablet {
    padding: 40px;
  }
  @include phone {
    padding: 40px 20px;
  }
  .bg_overlay {
    border-radius: $borderRadius;
  }
  .page-center {
    padding: 0;
    max-width: 100%;
    .subscribe_inr {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 50px;
      @include midlaptop {
        gap: 20px;
      }
      .sb_left {
        width: 50%;
        @include tablet {
          width: 100%;
        }
        .intro_content {
          margin-bottom: 0;
          .intro__inner {
            text-align: left;
            .intro_desc {
              margin: 0;
              p {
                font-weight: normal;
              }
            }
          }
        }
      }
      .sb_right {
        width: calc(50% - 50px);
        @include midlaptop {
          width: calc(50% - 20px);
        }
        @include tablet {
          width: 100%;
        }
        .sb_img {
          position: relative;
          width: 251px;
          margin: -110px auto 0;
          display: block;
          overflow: hidden;
          position: relative;
          width: 251px;
          height: 184px;
          @include tablet {
            margin: 0 0 30px;
            display: block;
            height: auto;
            width: 100%;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
