@import "../../css/_module-imports";

.u4m-timeline {
  &.reverse-text {
    .timeline_wrapper {
      .timeline {
        .timeline-item {
          .year {
            h3 {
              color: $White;
            }
          }
          &:after {
            background: $White;
          }
        }
      }
    }
  }
  .timeline_wrapper {
    position: relative;
    z-index: 9;
    .timeline {
      position: relative;
      @include tabletmid {
        overflow: visible;
      }
      overflow: hidden;
      .timeline-item {
        @include tabletmid {
          padding-left: 25px;
        }
        &:last-child {
          &:after {
            display: none;
            display: none;
          }
        }
        &:after {
          content: "";
          display: block;
          height: 100%;
          width: 2px;
          background: $tone;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0.25;
          @include tabletmid {
            transform: unset;
            left: 0px;
          }
        }
        position: relative;
        .timeline-inner {
          @include tabletmid {
            max-width: 100%;
          }
          max-width: 373px;
          display: block;
          position: relative;
          &:after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 40px;
            top: 0;
            position: absolute;
            background-color: $sadlier_red;
            @include tabletmid {
              width: 20px;
              height: 20px;
            }
          }
          .content {
            p {
              margin-bottom: 31px;
            }
          }
          .year {
            h3 {
              margin-bottom: 16px;
            }
          }
          .content {
            p {
              line-height: 1.6;
            }
          }
          .image {
            &.border-radius {
              img {
                border-radius: $borderRadius;
              }
            }
          }
        }
        &:nth-child(odd) {
          .timeline-inner {
            margin-left: auto;
            &:after {
              left: -82px;
              z-index: 1;
              @include tabletmid {
                left: -34px;
              }
            }
          }
        }
        &:nth-child(even) {
          .timeline-inner {
            text-align: right;
            &:after {
              z-index: 1;
              right: -82px;
              @include tabletmid {
                right: auto;
                z-index: 1;
                left: -34px;
              }
            }
            @include tabletmid {
              text-align: left;
              margin-left: auto;
            }
          }
        }
        &:not(:last-child) {
          padding-bottom: 172px;
          @include tabletmid {
            padding-bottom: 50px;
          }
        }
      }
    }
    &.theme1_color {
      .timeline {
        .timeline-item {
          .timeline-inner {
            &:after {
              background-color: $sadlier_red;
            }
          }
        }
      }
    }
    &.theme2_color {
      .timeline {
        .timeline-item {
          .timeline-inner {
            &:after {
              background-color: $sadlier_blue;
            }
          }
        }
      }
    }
    &.theme3_color {
      .timeline {
        .timeline-item {
          .timeline-inner {
            &:after {
              background-color: $religion_green;
            }
          }
        }
      }
    }

    .page-center {
      max-width: 920px;
    }
  }
  .intro_content {
    margin-bottom: 48px;
  }
}
