
{% macro Maincontent () %}
  <div class="row">
    <div class="img_section {% if module.module_settings.image_border_radius %}bdr-radius{% endif %}">
      {% if item.slider_items.image_field.src %}
      {% set sizeAttrs = 'width="{{ item.slider_items.image_field.width|escape_attr }}" height="{{ item.slider_items.image_field.height|escape_attr }}"' %}
      {% if item.slider_items.image_field.size_type == 'auto' %}
      {% set sizeAttrs = 'width="{{ item.slider_items.image_field.width|escape_attr }}" height="{{ item.slider_items.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
      {% elif item.slider_items.image_field.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ item.slider_items.image_field.max_width|escape_attr }}" height="{{ item.slider_items.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = item.slider_items.image_field.loading != 'disabled' ? 'loading="{{ item.slider_items.image_field.loading|escape_attr }}"' : '' %}
      <img src="{{ item.slider_items.image_field.src|escape_url }}" alt="{{ item.slider_items.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
    </div>
    <div class="bio">
      <div class="bio_inner">
        {{ item.slider_items.content }}
        <p>
          {{ item.slider_items.author_name }}
        </p>
        {{macros.singleButtonGroup(item.slider_items.button_group)}}
      </div>
    </div>
  </div>
  {% endmacro %}
  
  {% set moduleName = 'u4m-testimonial-slider' %}
  {% include "../partials/u4-module-includes.html" %}
  <div class="top-cntnt-wrap">
    <div class="page-center">
      <div class="intro_wrapp">
        {{macros.introGroup(module.intro_content)}}
      </div>
      {% if module.include_button %}
      <div class="bottom_button">
        {{macros.buttonGroup(module.button_group)}}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="testimonial-slider-wrapper {{ module.module_settings.theme }}">
    <div class="page-center">
      <div class="slider_tab_wrapper mobileHide">
        <ul class="tab_sec slidernavfor">
          {% for item in module.tabber_items %}
          {% if item.tab_title %}
          <li>
            <a href="javascript:void(0);" data-slide="{{ loop.index0 }}">{{ item.tab_title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="tab_content_wrapper mobileHide">
        {% for item in module.tabber_items %}
        <div class="tab_content">
          <div class="tab_sldier_wrapper">
            <div class="tab_sldier_item">
              <div class="tab_sldier_inner">
                {{ Maincontent() }}
                
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  
      <div class="mobileAcc deskHide">
        {% for item in module.tabber_items %}
        <div class="accItem {% if loop.first %} accOpen{% endif%}">
          <div class="accItemttl">{{ item.tab_title }}</div>
          <div class="accItemcon"  {% if loop.first %}style="display:block;"{% endif%}>
            <div class="tab_content_wrapper">
              <div class="tab_content">
                <div class="tab_sldier_wrapper">
                  <div class="tab_sldier_item">
                    <div class="tab_sldier_inner">
                      {{ Maincontent() }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </section>
  
  {% require_js %}
  <script>
  
  
    // Initialize the slider on page load if necessary
    $(document).ready(function () {
      $('.{{ name }} .tab_content_wrapper.mobileHide').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        fade: true,
        prevArrow:"<div class='slick-prev pull-left'><</div>",
        nextArrow:"<div class='slick-next pull-right'>></div>"
        });
    $('.{{ name }} .slidernavfor a').click(function(){
      const slideIndex = $(this).data('slide'); // Get the slide index from button
    $('.{{ name }} .tab_content_wrapper.mobileHide').slick('slickGoTo', slideIndex);
      });
    $('.{{ name }} .tab_content_wrapper.mobileHide').on('afterChange', function (event, slick, currentSlide) {
      $('.{{ name }} .slidernavfor a').parent().removeClass('slick-current'); // Remove active class from all
      $(`.{{ name }} .slidernavfor a[data-slide="${currentSlide}"]`).parent().addClass('slick-current'); // Add active class to current tab
    });
  
    // Optionally set the first tab as active initially
    $('.{{ name }} .slidernavfor a[data-slide="0"]').parent().addClass('slick-current');
    });
  
  
    $('.{{name}} .accItemttl').click(function() {
      $(this).parent().siblings('.accItem').removeClass('accOpen');
      $(this).parent().siblings('.accItem').find('.accItemcon').slideUp(250);
      $(this).next('.accItemcon').slideToggle(250);
      $(this).parent().toggleClass('accOpen');
      return false;
    });
  
  
  </script>
  
  {% end_require_js %}
  
  
  
  
  
  
  
  