{% set moduleName = 'u4m-filtered-content' %}
{% include "../partials/u4-module-includes.html" %}

{% set table =  module.filtered_content.select_hubdb_table  %}
{% set query = '-hs_created_at' %}
{% set resouces = hubdb_table_rows(table,query) %}

<div class="page-center  {{ module.module_settings.theme }}">

  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>

  <div class="featCardsListWrap">
    <div class="filterWrap">
      <div class="filters">
        <div id="filters" class="flex_row"> 

          <div class="col SearchBtn">
            <div class="colTtl">SEARCH FOR A SALES REP</div>
            <div class="srchSection">
              <input type="text" id="filterTitle{{ name|replace('widget_','')|replace('module_','') }}" placeholder="Search.." class="resourceInput">
            </div>
          </div> 
          <div class="col selctArrow">   
            <div class="colTtl">SELECT A LOCATION</div>
            <select name="type" id="type" class="resourceSelect" style="background-image: url({{ get_asset_url('../../templates/images/Downarrow.png') }});">
              <option value="" selected>Select a Location</option> 
              {% for state_select in hubdb_table_column(table, 'state_select').options %}
              <option value="{{ state_select.name|lower|replace(' ','-') }}">{{ state_select.name }}</option>
              {% endfor %}
            </select> 
          </div>   
          <div class="col selctArrow">  
            <div class="colTtl">SELECT A TYPE</div> 
            <select name="topic" id="topic" class="topicSelect resourceSelect" style="background-image: url({{ get_asset_url('../../templates/images/Downarrow.png') }});">
              <option value="" selected>Select a Type</option> 
              {% for content_type in hubdb_table_column(table, 'content_type').options %}
              <option value="{{ content_type.name|lower|replace(' ','-') }}">{{ content_type.name }}</option>
              {% endfor %}
            </select> 
          </div>  

        </div> 
      </div>	
    </div>


    <div class="cardSctn row-fluid">
      <div class="flex_row resourceList"> 

        {% for row in resouces %}


        <div class="resourceCard cardItem {% for topic in row.content_topic %}{{ topic.name|lower|replace(' ','-') }}{% endfor %} {{ row.state_select.name|lower|replace(' ','-') }}">
          <div class="cardInr">  
            {% if row.state_select.name %}
            <div class="cardLocation">  
              <span class="material-symbols-outlined">location_on</span> {{ row.state_select.name }}
            </div>
            {% endif %}
            <div class="cardCont"> 
              {% if row.rep_name %}
              <h4 class="restitle">{{ row.rep_name|striptags }}</h4> 
              {% endif %}
              {% if row.rep_title %}
              <div class="cardSubCon">{{ row.rep_title }}</div>
              {% endif %}
              {% if row.rep_phone_number %}
              <div class="cardNumber">{{ row.rep_phone_number }}</div>
              {% endif %}
              {% if row.rep_email_address %}
              <div class="cardMail"><a href="mailto:{{ row.rep_email_address }}">{{ row.rep_email_address }}</a></div>
              {% endif %}
              {#               {% if row.content_type.name %}
              <div class="content_type eyebrow"> 
                <span class="text">{{ row.content_type.name }}</span>
              </div>
              {% endif %} #}
              <div class="content_topic"> 
                <span>Public</span> <span>Private</span> <span>Catholic</span> <span>Charter</span>
              </div>
            </div>
            {% if row.rep_email_address %}
            <div class="cardBtnRow"> 
              <a href="mailto:{{ row.rep_email_address }}" class="arrow-link theme1">EMAIL REP  ></a> 
            </div>
            {% endif %}

          </div>
        </div>
        {% endfor %} 
      </div> 
    </div>   

    <ul id="pagination{{ title|replace('widget_','')|replace('module_','') }}" class="pagination"></ul> 

  </div>


</div>



</section>
