{% set moduleName = 'u4m-hero' %}
{% include "../partials/u4-module-includes.html" %}

<div class="page-center">
  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>
  <div class="btm_wrpp">
    <div class="flex_row">
      <div class="left_cols">
        {{macros.introGroup(module.left_column_content)}}
      </div>
      <div class="mediaCol {{ module.media.type }}">
        <div class="bdr" {% if module.media.include_border %} style="border: 5px solid #{{ module.media.border_theme }}_color" {% endif %}>

          {% if module.media.type == 'image' %}

          <div class="mediaItem" style="background-image:url({{ module.media.image.src }});"></div>

          {% elif module.media.type == 'video' %}
          {% if module.media.video %}
          <div class="cardVideo" data-popup-id="videopop-{{ name }}">
            <div class="cardVideoPoster" style="background-image:url({{ module.media.poster_image.src }});">
              <div class="playIcon beige_border beige_bg">
                <i class="fa-solid fa-play brown_color"></i>
              </div>
            </div> 
          </div> 
          {% endif %}  
          {% endif %}
        </div> 
      </div>
    </div>
  </div>
</div>

{% if module.media.video %}
<div id="videopop-{{ name }}" class="cardVideoPopup brown_bg">
  <div class="cardVideoPopupInr small_container">
    <div class="cardpopVideo {{ module.style.container.select_container_size }}">
      <div class="close light_color">
        <i class="fa-regular fa-xmark"></i>
      </div>
      <video id="video-videopop-{{ name }}" poster="{{ module.media.poster_image.src }}" src="{{ module.media.video }}" controls></video>
    </div>
  </div>
</div>
{% endif %}

</section>


