@import "../../css/_module-imports";

.u4m-hero {
  .flex_row {
    gap: 64px;

    .left_cols {
      width: calc(43.7% - 32px);

      .intro_content {
        text-align: left;
        max-width: 100%;
        margin: 0;
      }

      @include tabletmid {
        width: calc(50% - 20px);
      }

      @include tabletvert {
        width: 100%;
      }
    }

    .mediaCol {
      width: calc(56.3% - 32px);

      .bdr {
        .mediaItem {
          img {
            object-fit: cover;
            width: 100%;
          }
        }
      }

      @include tabletmid {
        width: calc(50% - 20px);
      }

      @include tabletvert {
        width: 100%;
      }
    }

    .bdr {
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      max-height: 413px;
      height: 100%;

      .mediaItem {
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 59.8%;
        height: 100%;
      }
    }

    @include tabletmid {
      gap: 40px;
    }

    @include tabletvert {
      gap: 30px;
    }
  }



  .intro_btn_wrap {
    justify-content: flex-start;
    gap: 20px 24px;
  }
}

.cardVideo {
  width: 100%;
  height: 100%;
}

.cardVideoPoster {
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 59.8%;
  height: 100%;

  .playIcon {
    opacity: 1;
    position: absolute;
    z-index: 99;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;
    width: 111rem;
    height: 111rem;

    svg {
      fill: $white;

      @include tabletmid {
        width: 35px;
        height: 35px;
      }

      @include tabletvert {
        width: 30px;
        height: 30px;
      }
    }

    @include tabletmid {
      width: 80rem;
      height: 80rem;
    }

    @include tabletvert {
      width: 70rem;
      height: 70rem;
    }
  }

  &:hover {
    .playIcon {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.cardVideoPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  height: 100%;
  overflow-y: auto;

  .small_container {
    position: relative;
    padding: 100px 20px;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
  }

  video {
    display: block;
    width: 100%;
    outline: none;
  }

  .cardpopVideo {
    margin: auto;
    padding: 35px 0;
    position: relative;

    .close {
      align-items: center;
      border-radius: 100%;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: space-around;
      position: absolute;
      right: 0px;
      top: -10px;
      width: 40px;
      z-index: 99;

      svg {
        width: 20px;
        height: 20px;
        fill: $white;
      }
    }
  }
}