{% set moduleName = 'u4m-hero' %}
{% include "../partials/u4-module-includes.html" %}

{% macro plyicon()%}

<svg xmlns="http://www.w3.org/2000/svg" width="39" height="47" viewBox="0 0 39 47" fill="none">
  <path d="M4.07615 45.7644L37.3413 25.9068C39.1529 24.8249 39.1529 22.1212 37.3413 21.0393L4.07615 1.18165C2.26453 0.0997255 0 1.45156 0 3.61541V43.333C0 45.4968 2.26453 46.8487 4.07615 45.7667V45.7644Z" ></path>
</svg>

{% endmacro%}

<div class="page-center">
  <div class="btm_wrpp">
    <div class="flex_row {% if not module.media.image.src %} no-img{% endif %}">
      <div class="left_cols">
        {{macros.introGroup(module.left_column_content)}}
      </div>
      {% if module.media.image.src %}
      <div class="mediaCol {{ module.media.type }}">
        <div class="bdr {{ module.module_settings.theme }}_color" {% if module.media.include_border %} style="border: 5px solid;" {% endif %}>
          {% if module.media.type == 'image' %}
          <div class="mediaItem" style="background-image:url({{ module.media.image.src }});"></div>
          {% elif module.media.type == 'video' %}
          {% if module.media.video_group.video %}
          <div class="cardVideo" data-popup-id="videopop-{{ name }}">
            <div class="cardVideoPoster" style="background-image:url({{ module.media.video_group.poster_image.src}});">
              <div class="playIcon {{ module.module_settings.theme }}_color">
                <span>{{plyicon()}}</span>
              </div>
            </div> 
          </div>
          {% endif %}  
          {% endif %}
        </div> 
      </div>
        {% endif %}
    </div>
  </div>
</div>

{% if module.media.video_group.video %}
{% if (module.media.video_group.video_type == "file" and module.media.video_group.video ) or (module.media.video_group.video_type == "embed" and module.media.video_group.embedded_path) %}


<div id="videopop-{{ name }}" class="cardVideoPopup ">
  <div class="cardVideoPopupInr small_container">
    <div class="cardpopVideo {{ module.style.container.select_container_size }}">
      <div class="close {{ module.module_settings.theme }}_color">
        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 122.88 122.88"><defs></defs><title>cross</title><path d="M6,6H6a20.53,20.53,0,0,1,29,0l26.5,26.49L87.93,6a20.54,20.54,0,0,1,29,0h0a20.53,20.53,0,0,1,0,29L90.41,61.44,116.9,87.93a20.54,20.54,0,0,1,0,29h0a20.54,20.54,0,0,1-29,0L61.44,90.41,35,116.9a20.54,20.54,0,0,1-29,0H6a20.54,20.54,0,0,1,0-29L32.47,61.44,6,34.94A20.53,20.53,0,0,1,6,6Z"/></svg>
      </div>
      {% if module.media.video_group.video_type == 'file' %}
      <video id="video-videopop-{{ name }}" poster="{{ module.media.video_group.poster_image.src  }}" src="{{ module.media.video_group.video }}" controls></video>
      {% else %}
      <div class="iframe_wrap">
        <div class="iframe_wrap_inr">
          {% if module.media.video_group.embedded_path is string_containing "youtube.com" %}
          <iframe src="" data-src="{{ module.media.video_group.embedded_path }}?autoplay=1&loop=0&mute=1&showinfo=0&controls=1" frameborder="0" allowFullScreen class="iframe_video"></iframe>
          {% else %}
          <iframe src="" data-src="{{ module.media.video_group.embedded_path }}?autoplay=1&loop=0&autopause=0&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowFullScreen class="iframe_video"></iframe>
          {% endif %}
        </div>    
      </div>
      {% endif %}
    </div>
  </div>
</div>


{% endif %}
{% endif %}


</section>


<style>
  {% if module.media.include_border_radius %}
  .u4m-hero .flex_row .bdr {
    border-radius: 25px;
  }
  {% endif %}
</style>







