
{% set video = module.bottom_content_group.video_group%}
{% set botgroup = module.bottom_content_group %} 


<div class="u4m-split-form-landing-wraper  {% if module.intro_content.include_image and module.intro_content.image.src %}topColumnimgAdd{% endif %}  {% if botgroup.select_media_type == "image" and botgroup.image.src or botgroup.select_media_type == "video" and (video.select_video_type and video.video_file or video.select_video_type and video.embedded_path) %}bottomMediaAded {% endif %}">


  {% set moduleName = 'u4m-split-form-landing' %}
  {% include "../partials/u4-module-includes.html" %}

  {# top content group #}
  <div class="top_content_group">

    <div class="page-center">

      {% if module.intro_content.include_logo %}
      <div class="form_logo_wrap">
        {% if module.intro_content.logo.src %}
        {% set href = module.intro_content.logo_link.url.href %}
        {% if module.intro_content.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a
           {% if module.intro_content.logo_link.url.type is equalto "CALL_TO_ACTION"  %}
           href="{{ href }}" 
           {% else %}
           href="{{ href }}"
           {% endif %}
           {% if module.intro_content.logo_link.open_in_new_tab %}
           target="_blank"
           {% endif %}
           {% if module.intro_content.logo_link.rel %}
           rel="{{ module.intro_content.logo_link.rel }}"
           {% endif %}
           ><img src="{{ module.intro_content.logo.src }}" alt="{{ module.intro_content.logo.alt }}">
        </a>

        {% endif %}
      </div>
      {% endif %}


      <div class="flex_row">
        <div class="form_content_column col col6">
          {{macros.introGroup(module.intro_content)}}
        </div>

        {% if module.intro_content.include_image %}
        <div class="form_image_column col col6">
          {% if module.intro_content.image.src %}
          <img src="{{ module.intro_content.image.src }}" alt="{{ module.intro_content.image.alt }}">
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  </section>



{# bottom content group #}

<div class="form_bottom_group dnd_padd form_bottom{{name}} bg_{{ module.module_overrides.bottom_background_settings.background_type }} bg_pos_{{ module.module_overrides.bottom_background_settings.select_background_position }}"  >
  {% if module.module_overrides.bottom_background_settings.background_type == "color"
  %}
  <div
       class="bg_overlay bg_color {{ module.module_overrides.bottom_background_settings.select_color }}"
       style="opacity:  {{ module.module_overrides.bottom_background_settings.opacity/ 100 }}"
       ></div>
  {% if
  module.module_overrides.bottom_background_settings.include_overlay_image %}
  <div class="bg_overlay bg_overlay_image"></div>
  {% endif %} 
  {% endif %}

  {% if module.module_overrides.bottom_background_settings.background_type == "image"
  %}

  <div class="bg_overlay bg_image"></div>
  {% endif %}

  <div class="page-center">
    <div class="flex_row">
      <div class="form_box_wrap col col6">

        <div class="form_box">
          <div calss="form_box_ttile">
            {{ module.form_group.form_content }}
          </div>
          {% form
            form_to_use="{{ module.form_group.select_form.form_id }}"
            response_response_type="{{ module.form_group.select_form.response_type }}"
            response_message="{{ module.form_group.select_form.message }}"
            response_redirect_id="{{ module.form_group.select_form.redirect_id }}"
            response_redirect_url="{{module.form_group.select_form.redirect_url}}"
            gotowebinar_webinar_key="{{ module.form_group.select_form.gotowebinar_webinar_key }}"
          %}
        </div>
      </div>

      <div class="form_bottom_content col col6 {% if module.module_overrides.bottom_group_reverse_text %}reverse-text{% endif %}">

        {% if module.bottom_content_group.select_media_type == "image" %}
        <div class="image_grid">
          {% if module.bottom_content_group.image.src %}
          <div class="image_grid_col">
            {% set sizeAttrs = 'width="{{ module.bottom_content_group.image.width }}" height="{{ module.bottom_content_group.image.height }}"' %}
            {% if module.bottom_content_group.image.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.bottom_content_group.image.width }}" height="{{ module.bottom_content_group.image.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.bottom_content_group.image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.bottom_content_group.image.max_width }}" height="{{ module.bottom_content_group.image.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.bottom_content_group.image.loading != 'disabled' ? 'loading="{{ module.bottom_content_group.image.loading }}"' : '' %}
            <img src="{{ module.bottom_content_group.image.src }}" alt="{{ module.bottom_content_group.image.alt }}" >

          </div>
          {% endif %}
        </div>
        {% endif %}



        {% if module.bottom_content_group.select_media_type == "video" %}
        <div class="video_group_wrap">

          {% if video.select_video_type == "file" and video.video_file  %}
          <div class="video_group_box">
            <video width="320" height="240" src="{{ video.video_file }}" controls>
            </video>
          </div>
          {% endif %}

          {% if video.select_video_type == "embed_path" and video.embedded_path  %}
          <div class="video_group_box">
            <iframe width="1128" height="635" src="{{ video.embedded_path }}" title="Sample Videos / Dummy Videos For Demo Use" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          {% endif %}

        </div>
        {% endif %}

        {# video group #}

        <div class="form_bottom_text {% if module.bottom_content_group.check_list_style %}checkListStyle{% endif %}">
          {{ module.bottom_content_group.bottom_content }}
        </div>
      </div>

    </div>
  </div>
</div>

{% require_css %} 
<style>
  {% if module.module_overrides.bottom_background_settings.background_type == "color"%}

  {% if module.module_overrides.bottom_background_settings.include_overlay_image %}
  .{{ name }} .form_bottom{{name}} .bg_overlay_image{
    background-image: url({{ module.module_overrides.bottom_background_settings.overlay_image.overlay_image.src }});
    background-size: {{ module.module_overrides.bottom_background_settings.overlay_image.overlay_image_size }};
    background-position: 	{{ module.module_overrides.bottom_background_settings.overlay_image.overlay_image_position }};
  }
  {% endif %}
  {% endif %}


  {% if module.module_overrides.bottom_background_settings.background_type == "image"  %}
  .{{ name }} .form_bottom{{name}} .bg_image{
    background-image: url({{ module.module_overrides.bottom_background_settings.background_image.src }})
  }  
  {% endif %}





  .form_bottom{{ name }} .form_bottom_text.checkListStyle ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .form_bottom{{ name }} .form_bottom_text.checkListStyle ul > li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-left: 30px;   
    margin-bottom: 20px;
    padding-left: 36px;

  }

  .form_bottom{{ name }} .form_bottom_text.checkListStyle ul > li:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-image: url({{ module.bottom_content_group.check_list_icon .src}});
    width: 24px;
    height: 24px;
    width: 24px;
    height: 24px;
    left: 0;
    top: 4px;
  }




</style>
{% end_require_css %} {% endif %}

</div>








