@import "../../css/_module-imports";

.u4m-split-form-landing-wraper {
  position: relative;

  //

  .top_content_group {
    position: relative;
    z-index: 3;

    .intro_content {
      text-align: left;
      margin-bottom: 0;
    }

    .intro__inner {
      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .video_group_box {
    padding-bottom: 56.25%;
    position: relative;

    video,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &.topColumnimgAdd.bottomMediaAded .form_bottom_content {
    padding-top: 50px;
  }

  &.topColumnimgAdd .u4m-split-form-landing {
    padding-bottom: 0;
  }

  &.topColumnimgAdd .intro_content {
    margin-bottom: 80px;
    padding-top: 53px;
  }

  .form_image_column {
    text-align: center;
  }

  //

  .u4m-split-form-landing {
    z-index: 1;
  }

  //

  .form_box_wrap {
    padding-right: 50px;
    @include midlaptop {
      padding-right: 30px;
    }
  }

  .form_bottom_content {
    padding-left: 50px;

    @include midlaptop {
      padding-left: 30px;
    }
  }

  .form_bottom_group {
    position: relative;
    z-index: 2;
    padding-top: 0;

    .form_box {
      @include formWraperStyle;
      margin-top: -56px;
      @include tablet {
        margin-top: -50px;
      }
      &.lg {
        margin-top: -91px;
        @include tablet {
          margin-top: -50px;
        }
      }
      &.medium {
        margin-top: -70px;
        @include tablet {
          margin-top: -50px;
        }
      }
      .form_box_ttile {
        h3 {
          margin-bottom: 20rem;
        }
      }
      form {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        max-width: 100%;
        width: 100%;
      }
    }

    .form_bottom_text {
      padding-top: 62px;
      ul {
        @include b2;
      }
      &.checkListStyle {
        ul {
          @include b1;
        }
      }
    }

    .image_grid + .form_bottom_text {
      //   padding-top: 52px;
      margin-top: 0;
    }

    .form_bottom_content.reverse-text h1,
    .form_bottom_content.reverse-text h2,
    .form_bottom_content.reverse-text h3,
    .form_bottom_content.reverse-text h4,
    .form_bottom_content.reverse-text h5,
    .form_bottom_content.reverse-text h6 {
      color: inherit;
    }

    //

    .image_grid {
      position: relative;
      width: 100%;
      max-width: 100%;
      margin-top: -50px;

      .img_grid_col {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .img_grid1,
      .img_grid2 {
        position: absolute;
        height: 100%;
        width: 60%;
        left: 0;
        border-radius: 25px;
      }

      .img_grid2 {
        left: auto;
        right: 0;
        top: 25px;
      }

      .img_grid3 {
        position: absolute;
        bottom: -42px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        height: 51%;
        width: 40%;
        border: 2px solid;
      }
    }

    //
  }

  .form_logo_wrap {
    margin-bottom: -20px;

    img {
      width: 150px;
    }

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &.logoAdded:not(.topColumnimgAdd) {
    .intro_content {
      padding-top: 53px;
    }

    .image_grid,
    .video_group_wrap {
      margin-top: -30%;

      @include tablet {
        margin-top: 0;
      }
    }

    .form_bottom_content {
      @include tablet {
        padding-top: 50px;
      }
    }
  }

  @include tablet {
    .form_content_column {
      order: 2;
    }

    .form_image_column {
      order: 1;
    }

    .top_content_group {
      .page-center {
        margin-bottom: 20rem;
      }
    }

    .form_bottom_group {
      .image_grid {
        margin-top: 50px;
      }

      .form_box {
        max-width: 100%;
      }
    }
    .intro_content {
      max-width: 100%;
    }

    .col6 {
      width: 100%;
    }
    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include tabletvert {
    .top_content_group {
      .page-center {
        margin-bottom: 30rem;
      }
    }
  }
  &.noLogo.topColumnimgAdd {
    .intro_content {
        padding-top: 7px;
    }
    .form_image_column {
      overflow: hidden;
      margin-top: -44rem;
      @include tablet {
        margin-top: 0rem;
        margin-bottom: 20rem;
      }
      img {
        margin-bottom: -7rem;
        @include tablet {
          margin-bottom: 0;
        }
      }
    }
  }
}
