@import "../../css/_module-imports";

.u4m-slider-gallery {
  .intro_wrapp {
    .intro_content {
      margin-bottom: 56px;
    }
  }
  .slider-gallery-wrapper {
    position: relative;
    z-index: 9;
    .slider_wrap {
      margin: 0 -19px;
      padding-bottom: 50px;
      .slider_items {
        .image_wrapper {
          padding: 0 19px;
          &.bdr-radius {
            img {
              border-radius: $borderRadius;
            }
          }
        }
      }
    }
    .arrow-section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      .slick-arrow {
        background: $Gray1;
        border-radius: 50px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.slick-disabled {
          background: $Gray2;
          &:before {
            color: $tone;
          }
        }
        &.prev-arrow {
          &:before {
            content: "\e5cb";
          }
        }
        &.next-arrow {
          &:before {
            content: "\e5cc";
          }
        }
        &:before {
          font-family: "Material Symbols Outlined";
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: "liga";
          -webkit-font-smoothing: antialiased;
          color: $White;
        }
      }
    }
  }
}
