{% set moduleName = 'u4m-slider-gallery' %}
{% include "../partials/u4-module-includes.html" %}
<div class="page-center">
  <div class="intro_wrapp">
    {{ macros.introGroup(module.intro_content) }}
  </div>
</div>
<div class="slider-gallery-wrapper">
  <div class="page-center">
    <div class="slider_wrap">
      {% for item in module.gallery_items %}
      {% if item.image_field.src %}
      <div class="slider_items">
        <div class="image_wrapper {% if module.module_settings.image_border_radius %} bdr-radius{% endif %}">
          {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
          {% if item.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% elif item.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
          <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
        </div>
      </div> 
      {% endif %}
      {% endfor %}
    </div>
    <div class="arrow-section">
      <div class="prev-arrow"></div>
      <div class="next-arrow"></div>
    </div>
  </div>
</div>
</section>

{% require_js %}
<script>
$('.{{ name }} .slider_wrap').slick({
dots: false,
infinite: false,
speed: 300,
slidesToShow: 4,
slidesToScroll: 1,
prevArrow: $('.arrow-section .prev-arrow'),
nextArrow: $('.arrow-section .next-arrow'),
responsive: [
  {
    breakpoint: 1024,
    settings: {
      slidesToShow: 3,
      slidesToScroll: 1,
      infinite: true,
      dots: true
    }
  },
  {
    breakpoint: 768,
    settings: {
      slidesToShow: 2,
      slidesToScroll: 1
    }
  },
  {
    breakpoint: 480,
    settings: {
      slidesToShow: 1,
      slidesToScroll: 1
    }
  }
]
});

// Function to toggle the enabled/disabled state of the arrows
function toggleArrows() {
var slider = $('.{{ name }} .slider_wrap');

// Check if we are on the first slide
if (slider.slick('slickCurrentSlide') === 0) {
  $('.arrow-section .prev-arrow').addClass('disabled');  // Disable previous arrow
} else {
  $('.arrow-section .prev-arrow').removeClass('disabled');  // Enable previous arrow
}

// Check if we are on the last slide
if (slider.slick('slickCurrentSlide') === slider.slick('getSlick').slideCount - 1) {
  $('.arrow-section .next-arrow').addClass('disabled');  // Disable next arrow
} else {
  $('.arrow-section .next-arrow').removeClass('disabled');  // Enable next arrow
}
}

// Initialize the arrow status when the slider is initialized
toggleArrows();

// Add the event listener to update arrows when the slide changes
$('.{{ name }} .slider_wrap').on('afterChange', function(event, slick, currentSlide) {
toggleArrows();  // Update the arrows after slide change
});

</script>
{% end_require_js %}












