// Footer css
.footer-wrapper {
  padding-top: 100px;
  padding-bottom: 110px;
  background-color: $basecolor;
  &.main-footer {
    .footer-menu {
      padding: 0 0px 45px;
      .hs_cos_wrapper_type_menu {
        max-width: 1082px;
        margin: 0 auto;
        display: block;
        margin-right: 0;
      }
      .hs-menu-wrapper > ul {
        > li {
          width: 25%;
          @include tabletmid {
            width: 50%;
          }
          @include tabletvert {
            width: 100%;
          }
        }
      }
    }
  }
  &.religion-footer {
    padding-bottom: 100px;
    .footer-menu {
      padding: 0 0px 50px;
      .hs_cos_wrapper_type_menu {
        max-width: 892px;
        display: block;
        margin: 0 auto;
      }
      .hs-menu-wrapper > ul {
        &::after,
        &::before {
          content: none;
        }
        justify-content: space-between;
        > li {
          width: auto;
          @include tabletmid {
            width: 50%;
          }
          @include tabletvert {
            width: 100%;
          }
        }
      }
      .footer-btn {
        margin-top: 35px;
        text-align: center;
      }
    }
    @include tabletvert {
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }
  @include tabletvert {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .footer-menu {
    padding: 0 50px 45px;
    border-bottom: 1px solid rgba($footerBorderColor, 0.25);
    margin-bottom: 30px;
    @include tabletmid {
      padding: 0 0px 30px;
    }
    .hs-menu-wrapper > ul {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      ::after,
      ::before {
        content: none;
      }
      > li {
        width: 20%;
        padding: 0 5px;
        @include tabletmid {
          width: 33.333%;
        }
        @include tabletvert {
          width: 100%;
        }
        > a {
          margin-bottom: 13px;
        }
      }
      li {
        margin: 0;
        letter-spacing: 0;
        a {
          color: $white;
          font-weight: bold;
          max-width: inherit;
          padding: 0;
          text-overflow: inherit !important;
          white-space: normal !important;
          width: 100% !important;
        }
        > ul {
          margin: 0;
          position: static !important;
          opacity: 1 !important;
          visibility: visible !important;
          > li {
            margin-bottom: 10px;
            a {
              font-weight: normal;
              font-size: 14px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    .footer-bottom-col {
      width: 30%;
      @include tabletvert {
        width: 100%;
      }
      &.logo-col {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 24px;
        row-gap: 10px;
        @include tabletvert {
          justify-content: center;
        }
        .copyright {
          color: $white;
          font-size: 14px;
          font-weight: 400;
        }
      }
      &.social-icon-col {
        width: 40%;
        @include tabletvert {
          width: 100%;
        }
      }
      &.privacy-col {
        ul {
          margin: 0;
          display: flex;
          justify-content: right;
          align-items: center;
          @include tabletvert {
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 5px;
          }
          li {
            margin: 0;
            width: auto;
            &:not(:last-child) {
              margin-right: 30px;
              @include tabletvert {
                margin-right: 10px;
              }
            }
            @include tabletvert {
              margin: 0 10px;
            }
            a {
              padding: 0;
              text-overflow: inherit !important;
              white-space: normal !important;
              width: 100% !important;
              color: $white;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .footer-btn a {
    @include secondarybutton;
    background-color: transparent;
    border-color: $white;
    color: $white;
    transition: 0.2s ease;
    &:hover,
    &:focus {
      border-color: $white;
      background-color: transparent;
      color: $white;
    }
  }
}

// Footer css
