@import "../../css/_module-imports";
.u4m-alt-content {
  .flex_row {
    gap: 64px;
    align-items: center;
    &.right {
      flex-direction: row-reverse;
    }
    .left_cols {
      width: calc(50% - 32px);

      .intro_content {
        text-align: left;
        max-width: 100%;
        margin: 0;
      }

      @include tabletmid {
        width: calc(50% - 20px);
      }

      @include tabletvert {
        width: 100%;
      }
    }

    .mediaCol {
      width: calc(50% - 32px);

      @include tabletmid {
        width: calc(50% - 20px);
      }

      @include tabletvert {
        width: 100%;
      }
    }

    .bdr {
      &.theme1_color {
        border-color: $sadlier_red !important;
      }

      &.theme2_color {
        border-color: $sadlier_blue !important;
      }

      &.theme3_color {
        border-color: $religion_green !important;
      }
    }

    @include tabletmid {
      gap: 40px;
    }

    @include tabletvert {
      flex-direction: column-reverse !important;
    }
  }

  .intro_btn_wrap {
    justify-content: flex-start;
    gap: 20px 24px;
  }
}
