@import "../../css/_module-imports";

.u4m-blog-post-cards {
  &.reverse-text {
    .post_title {
      a {
        color: $white !important;
      }
    }
  }
  overflow-x: hidden;
  .intro_content {
    max-width: 100%;
    text-align: left;
    .intro_desc {
      h2 {
        font-weight: 300;
      }
    }
    .intro_btn_wrap {
      justify-content: unset;
    }
  }

  .blog_posts_items {
    margin-left: -26px;
    margin-right: -26px;

    .slick-list {
      overflow: visible;
    }

    .slick-arrow {
      opacity: 0;
    }

    .blog_posts_item {
      padding-left: 26px;
      padding-right: 26px;

      &.image_corner_radius {
        .feature_img {
          border-radius: $borderRadius;
        }
      }

      .feature_img {
        padding-top: 63.64%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 19px;
      }

      .post_meta {
        margin-bottom: 14px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        a {
          font-weight: 700;
          font-size: $baseFontSize;
          line-height: $baseLineHeight;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: $eyebrows;
        }
      }

      .post_title {
        h4 {
          margin-bottom: 20px;

          a {
            color: $dark_text;
          }
        }
      }

      .post_description {
        font-style: normal;
        font-weight: 400;
        font-size: $baseFontSize;
        line-height: 1.625;
        letter-spacing: 0.03em;
        color: $dark_text;

        p.item_descr {
          margin-bottom: 0;
        }
      }
    }
  }

  .slider-bottom {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;

    .blog-listing_link a {
      font-weight: 700;
      font-size: $baseFontSize;
      line-height: 1;
      text-align: center;
      letter-spacing: 0.05em;
      color: $sadlier_red;
    }

    .btn-wrap {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      align-items: center;

      button {
        background: $Gray1;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        color: $White;

        &.slick-disabled {
          background: $Gray2;
          color: $dark_text;
        }

        &.next-btn:before,
        &.prev-btn:before {
          content: "\e5cc";
          font-family: "Material Symbols Outlined";
          font-weight: normal;
          font-style: normal;
          font-size: 24px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: "liga";
          -webkit-font-smoothing: antialiased;
        }

        &.prev-btn:before {
          content: "\e5cb";
        }
      }
    }
  }

  &.reverse-text {
    * {
      color: $White;
    }

    .slider-bottom {
      .blog-listing_link {
        a {
          color: $White;
        }
      }
    }

    .blog_posts_items {
      .blog_posts_item {
        .post_meta {
          a {
            color: $White;
          }
        }
      }
    }
  }
}
