@import "../../css/_module-imports";

.u4m-team-grid {
  position: relative;
  .team_grid_row {
    row-gap: 30px;
    justify-content: center;
    margin-left: -25px;
    margin-right: -25px;
    width: auto;
    .team_item {
      padding-left: 25px;
      padding-right: 25px;
      color: $dark_text;
      &.theme_text {
        .member_position {
          color: $dark_text;
        }
      }
      .team_item_inn {
        border-radius: 25px;
        padding: 30px;
        .team_img_inn {
          max-width: 150px;
          width: 100%;
          padding-bottom: 19px;
        }
        .member_name {
          margin-bottom: 23px;
        }
        .member_position {
          font-weight: 700;
          font-size: $baseFontSize;
          line-height: $baseLineHeight;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        .member_bio {
          font-weight: 400;
          font-size: $baseFontSize;
          line-height: 1.625;
          letter-spacing: 0.03em;
          color: $dark_text;
          margin-bottom: 39px;
          p {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .member_btm {
          .bio_popup_text {
            display: inline-block;
            .bio_popup {
              font-weight: 700;
              font-size: $baseFontSize;
              line-height: 1;
              letter-spacing: 0.05em;
              color: $sadlier_red;
            }
          }
        }
      }
      &.card_reverse_text {
        * {
          color: $White;
          fill: $White;
        }
        .member_position {
          color: $White;
        }
        svg {
          fill: $White;
        }
        .member_btm {
          .bio_popup_text {
            .bio_popup {
              color: $White;
            }
          }
        }
        .member_share {
          a {
            color: $White;
          }
        }
      }
    }
  }
  .member_share {
    display: inline-block;
    float: right;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right;
      display: flex;
      column-gap: 27px;
      flex-wrap: wrap;
      align-items: center;
      li {
        display: inline-block;
        margin: 0;
        img {
          max-width: 20px;
        }
        svg {
          max-width: 20px;
          width: 100%;
          fill: $dark_text;
        }
        a {
          color: $dark_text;
        }
      }
    }
  }
  .team_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    display: none;
    color: $dark_text;
    &.team_open {
      display: flex;
    }
    &.card_reverse_text * {
      color: $White;
      fill: $White;
    }
    .team_popup_overlay {
      position: absolute;
      left: 0px;
      top: 0;
      background: $dark_text;
      opacity: 0.9;
      width: 100%;
      height: 100%;
    }
    .team_popup_container {
      max-width: 900px;
      margin: auto;
      position: relative;
      .team_popup_row {
        border-radius: 25px;
        padding: 86px 50px;
        .team_popup_inn {
          margin-left: -25px;
          margin-right: -25px;
          width: auto;
          .popup_img_col {
            padding-left: 25px;
            padding-right: 25px;
          }
          .popup_cnt {
            padding-left: 25px;
            padding-right: 25px;
            @include tabletvert {
              padding-top: 30px;
            }
          }
        }
        .popup_img {
          text-align: center;
        }
        .popup_close {
          position: absolute;
          width: 40px;
          height: 40px;
          right: 26px;
          top: 30px;
          cursor: pointer;
        }
        .popup_team_img {
          margin-bottom: 20px;
          .popup_img_inn {
            img {
              max-width: 288px;
            }
          }
        }
        .member_position {
          font-weight: 700;
          font-size: $baseFontSize;
          line-height: $baseLineHeight;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        .member_share {
          float: none;
        }
        .popup_cnt_inn {
          font-weight: 400;
          font-size: $baseFontSize;
          line-height: 1.6;
          letter-spacing: 0.03em;
          color: $dark_text;
        }
      }
    }
  }
}
