{% set moduleName = 'u4m-team-grid' %}
{% include "../partials/u4-module-includes.html" %}





<div class="page-center">


  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>


  <div class="team_grid_row flex_row">
    {% for item in module.member_group %}
    <div class="team_item {{ module.module_settings.select_number_of_column }} {% if module.module_settings.card.reverse_text %} card_reverse_text {% else %} theme_text{% endif %}">
      <div class="team_item_inn {{ module.module_settings.card.select_background_color }}">
    

        <div class="team_content">
          <div class="team_content_inn">
          {% if item.image_field.src %}
            <div class="team_img">
              <div class="team_img_inn">
                {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
                <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }}>
              </div>
            </div>
            {% endif %}
            {% if item.member_name %}
            <h3 class="member_name">
              {{ item.member_name }}
            </h3>
            {% endif %}    
            {% if item.member_position %}
            <div class="member_position eyebrow_text">
              {{ item.member_position }}
            </div>
            {% endif %}   
            {% if item.description %}
            <div class="member_bio">
              {{ item.description|truncatehtml(120, false) }}
            </div>
            {% endif %}   

            <div class="member_btm">
              {% if item.popup_button_text %}
              <div class="bio_popup_text">
                <a class="bio_popup arrow-link {{ module.module_settings.popup_button_theme }}" href="javascript:void(0);"  data_index="data{{loop.index}}">
                  {{ item.popup_button_text }}
                </a>
              </div>
              {% endif %}   
              <div class="member_share">
                <ul>
                  {% for item2 in item.social_icon %}
                  <li>
                    {% set href = item2.link_field.url.href %}
                    {% if item2.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    <a
                       {% if item2.link_field.url.type is equalto "CALL_TO_ACTION"  %}
                       href="{{ href }}" 
                       {% else %}
                       href="{{ href|escape_url }}"
                       {% endif %}
                       {% if item2.link_field.open_in_new_tab %}
                       target="_blank"
                       {% endif %}
                       {% if item2.link_field.rel %}
                       rel="{{ item2.link_field.rel|escape_attr }}"
                       {% endif %}
                       >
                      {% if item2.select_icon_type == "image" %}
                      {% if item2.image_field_1.src %}
                      {% set sizeAttrs = 'width="{{ item2.image_field_1.width|escape_attr }}" height="{{ item2.image_field_1.height|escape_attr }}"' %}
                      {% if item2.image_field_1.size_type == 'auto' %}
                      {% set sizeAttrs = 'width="{{ item2.image_field_1.width|escape_attr }}" height="{{ item2.image_field_1.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                      {% elif item2.image_field_1.size_type == 'auto_custom_max' %}
                      {% set sizeAttrs = 'width="{{ item2.image_field_1.max_width|escape_attr }}" height="{{ item2.image_field_1.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                      {% endif %}
                      {% set loadingAttr = item2.image_field_1.loading != 'disabled' ? 'loading="{{ item2.image_field_1.loading|escape_attr }}"' : '' %}
                      <img src="{{ item2.image_field_1.src|escape_url }}" alt="{{ item2.image_field_1.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                      {% endif %}
                      {% endif %}
                      {% if item2.select_icon_type == "icon" %}
                        {{ item2.icon }}
                        {% endif %}
                        {% if item2.select_icon_type == "fontawesome" %}
                          {% icon
            name="{{ item2.icon_field.name }}"
            style="{{ item2.icon_field.type }}"
            unicode="{{ item2.icon_field.unicode }}"
            icon_set="{{ item2.icon_field.icon_set }}"
          %}
                        {% endif %}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>

            </div>

          </div>
        </div>
      </div>


    </div>
    {% endfor %}

  </div>


  {% if module.include_button %}
  <div class="bottom_button">
    {{macros.buttonGroup(module.button_group)}}
  </div>
  {% endif %}

</div>


{% for item in module.member_group %}
  <div class="team_popup {% if module.module_settings.card.reverse_text %} card_reverse_text {% else %} theme_text {% endif %}" id="data{{loop.index}}">
  <div class="team_popup_overlay"></div>
  <div class="team_popup_container">
    <div class="team_popup_row {{ module.module_settings.card.select_background_color }}">
      <img src="{{ get_asset_url('../../images/popup_close.png') }}" alt="Close" class="popup_close" width="33" height="33" >
      <div class=" flex_row team_popup_inn">
        <div class="popup_img_col col5">
          <div class="popup_img">
            {% if item.image_field.src %}
            <div class="popup_team_img">
              <div class="popup_img_inn">
                {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
                <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }}>
              </div>
            </div>
            {% endif %}
            {% if item.member_name %}
            <h3 class="member_name">
              {{ item.member_name }}
            </h3>
            {% endif %}    
            {% if item.member_position %}
            <div class="member_position eyebrow_text">
              {{ item.member_position }}
            </div>
            {% endif %} 
            <div class="member_share">
              <ul>
                {% for item2 in item.social_icon %}
                <li>
                  {% set href = item2.link_field.url.href %}
                  {% if item2.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                  {% endif %}
                  <a
                     {% if item2.link_field.url.type is equalto "CALL_TO_ACTION"  %}
                     href="{{ href }}" 
                     {% else %}
                     href="{{ href|escape_url }}"
                     {% endif %}
                     {% if item2.link_field.open_in_new_tab %}
                     target="_blank"
                     {% endif %}
                     {% if item2.link_field.rel %}
                     rel="{{ item2.link_field.rel|escape_attr }}"
                     {% endif %}
                     >
                    {% if item2.select_icon_type == "image" %}
                    {% if item2.image_field_1.src %}
                    {% set sizeAttrs = 'width="{{ item2.image_field_1.width|escape_attr }}" height="{{ item2.image_field_1.height|escape_attr }}"' %}
                    {% if item2.image_field_1.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ item2.image_field_1.width|escape_attr }}" height="{{ item2.image_field_1.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item2.image_field_1.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item2.image_field_1.max_width|escape_attr }}" height="{{ item2.image_field_1.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = item2.image_field_1.loading != 'disabled' ? 'loading="{{ item2.image_field_1.loading|escape_attr }}"' : '' %}
                    <img src="{{ item2.image_field_1.src|escape_url }}" alt="{{ item2.image_field_1.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                    {% endif %}
                    {% endif %}
                    {% if item2.select_icon_type == "icon" %}
                    {{ item2.icon }}
                    {% endif %}
                    {% if item2.select_icon_type == "fontawesome" %}
                      {% icon
        name="{{ item2.icon_field.name }}"
        style="{{ item2.icon_field.type }}"
        unicode="{{ item2.icon_field.unicode }}"
        icon_set="{{ item2.icon_field.icon_set }}"
      %}
                    {% endif %}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% if item.description %}
        <div class="popup_cnt col7">
          <div class="popup_cnt_inn">
            {{ item.description }}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor  %}





</section>



{% require_js %}
<script>

  $('.{{name}} .popup_close').click(function(){
    $('.team_popup').removeClass('team_open')
    $('body').removeClass('overflow-hidden');
  });

  $('.{{name}} .team_popup_overlay').click(function(){
    $('.team_popup').removeClass('team_open')
    $('body').removeClass('overflow-hidden');
  });

  $(document).ready(function() {
    $('.{{name}} a.bio_popup').on('click', function(event) {
      event.preventDefault();
      var index = $(this).attr('data_index');
      $('.{{name}} .team_popup').each(function(){
          var popup = $(this).attr('id');
          if (index === popup){
          $(this).addClass('team_open');
          $('body').addClass('overflow-hidden');
        }
      })
    });
  });

</script>
{% end_require_js %}












